<div class="conatiner-fluid home-container">
  <div class="row">
    <div class="col-12 col-md-3">
    </div>
    <div class="col-12 col-md-7">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by place" aria-label="Search by place" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-sign-out"></i> Logout</button>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="card" style="border:0px;">
      <div class="card-block">
        <div class="row">
          <div  class="col-xs-2 pageTemplate" (click)="action()">
            <div  class="add">
              <i class="fa fa-plus fa-5x"></i>
              <br>Add new place
              <br>
            </div>
            <ng-template #showData>
              <div class="card-info" (click)="tileClick(subject,i);">
                <div class="card-color" [ngStyle]="{background : grey}">
                  <!--Randomly pick a color from an array of Material Colors-->
                </div>
                <img src="../../assets/img/places.png" style="height: 80px; border-radius: 50%; margin-left: auto; margin-right: auto; margin-top: -40px; background-color: #ffffff;">
                <p class="subject" [ngStyle]="{color : red}">place names
                  <!--space added for notification-->&nbsp;</p>
                <!--Same font color as card-->
                <hr style="color: #424242; width: 250px; margin-right: auto; margin-left: auto; margin-bottom: 10px;">
                <span class="faculty">data</span>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>
  <div class="modal" id="placeModal" role="dialog" aria-hidden="true" 
  [ngStyle]="{'display':display}">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Select Place</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <app-place-selector [lat]="latitude" [long]="longitude" 
            [desc]="description" [address]="address" (sendData)="LocationData($event)"></app-place-selector>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-success" (click)="upload()">Done</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
          </div>
          
        </div>
      </div>
    </div>
</div>