.home-container{
    margin-top: 80px;
}
.pageTemplate {
    height: 175px;
    width: 200px;
    border: 2px solid #ddd;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    margin: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
  }
.details{
    height: 90px;
    overflow: hidden;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 2px;
}
 .pageTemplate .add {
     padding-top: 10px;
      font-size: 20px;
      padding-bottom: 20px;
    }
.pageTemplate .add i {
      color: #ccc
    }
#placeModal{
    background: radial-gradient(circle, rgb(245, 245, 245), transparent, rgb(207, 207, 205));
}
.card-container{
    padding-top: 30px;
    padding-left: 100px;
}
.btn-circle {
    background: #FFFFFF;
    text-align: center;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 6px 0;
    font-size: 12px;
    float: right;
    position: relative;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 2px;
  }
  hr.style1{
	border-top: 1px solid #8c8b8b;
}
