<div class="conatiner-fluid home-container">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-3">
      <h6 style="color:rgb(95, 86, 86)">Welcome, {{userEmail}}</h6>
    </div>
    <div class="col-12 col-md-6">
      <!-- search bar for dashboard -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by place address" [(ngModel)]="searchText" aria-label="Search by place"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">
            <i class="fa fa-search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <button type="button" class="btn btn-secondary" (click)="signOut()">
        <i class="fa fa-sign-out"></i> Logout</button>
    </div>
  </div>

  <div class="row card-container">
    <div class="container-fluid">
      <div class="card" style="border:0px;">
        <div class="card-block">
          <div class="row">
            <!-- card for adding new place -->
            <div *ngFor="let place of placesArray | filter : searchText;let index = index" class="col-xs-2 pageTemplate">
              <div *ngIf="!place.address; else showData" class="add" (click)="action('done',place,index)">
                <i class="fa fa-plus fa-5x"></i>
                <br>{{place?.description}}
                <br>
              </div>
              <ng-template #showData>
                <!-- cards from database -->
                <div style="display: block; text-align: left;" (click)="action('update',place,index)">
                  <div class="row justify-content-md-center" style="background:skyblue">
                    <div class="col-12 col-sm-2">
                      <h5 class="card-title">
                        <i class="fa fa-map-marker fa-2x"></i>
                      </h5>
                    </div>
                  </div>
                  <div class="row details">
                    <div style="font-size:14px; display: block;">
                      <b>Address:</b> {{(place?.address.length>35)? (place?.address | slice:0:35)+'...':(place?.address) }}</div>
                    <div style="font-size:12px;">
                      <b>Description:</b> {{(place?.description.length>35)? (place?.description | slice:0:35)+'...':(place?.description)
                      }}</div>
                  </div>
                  <button type="button" class="btn btn-warning btn-circle" (click)="delete(index)">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- map modal popup for place selection -->
  <div class="modal" *ngIf="showModal" id="placeModal" role="dialog" aria-hidden="true" [ngStyle]="{'display':display}">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Select Place</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="close()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <app-place-selector [index]="index" [lat]="latitude" [long]="longitude" [desc]="description" [address]="address" [payload]="payload"
            (sendData)="LocationData($event)"></app-place-selector>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="upload()">{{payload === 'update'?'Update':'Done'}}</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>